rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isAuthenticated() {
      return request.auth != null;
    }

    match /products/{allPaths=**} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /delivery-proofs/{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated();
    }

    match /reports/{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if false;
    }

    match /billing/{allPaths=**} {
      allow read: if isAuthenticated();
      allow write: if false;
    }
  }
}
